div.jumbotron h1 {
  font-weight: bold;
  color: white;
}

p strong.box {
  border: 3px solid black;
  float: right;
  padding: 10px;
  margin: 10px;
}

img {
  float: right;
  width: 350px;
  height: 280px;
}

img.cat {
  width:500px;
}

ul {
  padding:20px;
}

.main {
  padding: 20px;
}
